{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ event.title }}</h1>
  <hr>
  <div>
      <div style="display: inline-block; margin: 0px; padding: 0px;">
         <p><strong>Description:</strong> {{ event.description }}</p>
          <p><strong>Date from:</strong> {{ event.dateFrom }}</p>
          <p><strong>Date to:</strong> {{ event.dateTo }}</p>
          <p><strong>Category:</strong> {{ event.cateory.name }}</p>
          <p><strong>Public:</strong> {{ event.public }}</p>
      </div>
      <div class="card"><strong>Organizer:</strong> {{ event.organizer }}</div>
      <div class="card"><strong>Venue: </strong><a href="{% url 'venue-detail' event.venue.pk %}">{{ event.venue }}</a></div>
  </div>

  {% for invite in event.invitation_set.all %}
  <hr>
  <p class="{% if invite.status == 'g' %}text-success{% elif invite.status == 'n' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
  <p><strong>{{invite.invitee}}</strong></p>
  <p><strong>Message:</strong> {{invite.note}}</p>
  <p class="text-muted"><strong>Id:</strong> {{invite.id}}</p>
  {% endfor %}
{% endblock %}
