{% extends "base_generic.html" %}

{% block content %}
  <div style="padding: 3%">
      <h1>{{ user.first_name }} {{ user.last_name }}</h1>
      <hr>
      <div>
          {% load static %}
          <img src="{% static "catalog/avatar.jpg" %}" class="card-display" alt="avatar" style="padding:0px; height: 200px; width: auto; border-radius: 50%"/>

          <div style="display: inline-block; margin: 0px; padding: 0px;">
              <p><strong>Username:</strong> {{ user.username }}</p>
              <p><strong>E-mail:</strong> {{ user.email }}</p>
          </div>
      </div>

      <br>
      <h4>Events organised by {{ user.first_name }}:</h4>
      <hr>
      <div class="outer">
        {% for event in user.event_set.all %}
            <a class="card" href="{{ event.get_absolute_url }}">
                <h3>{{ event.title }}</h3>
                ({{event.dateTo}}) ({{event.venue.name}})
            </a>
        {% endfor %}
    </div>
  </div>

{% endblock %}
