{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div style="padding: 3%; background: url('{% static "catalog/signup.jpg" %}'); background-size: cover; height: 100%">
    <center>
        <h1 style="color: white;">Welcome to Nimantran</h1>
        <div class="card-display" style="width: auto; background-color: #1D8348; padding: 8%; color: white; ">
            <h2>Sign Up</h2>
            <hr style="border: 1px solid #82E0AA">

            <form method="post">
              {% csrf_token %}
              <table>
                  {{ form.as_table }}
              </table>
              <br>
              <input type="submit"/>
            </form>
        </div>
    </center>
</div>

{% endblock %}
