{% extends "base_generic.html" %}

{% block content %}
<div style="padding: 3%">
    <h1>{{ venue.name }}</h1>
    <hr>
    <p><strong>Address:</strong> {{ venue.address }}</p>
    <p><strong>Capacity:</strong> {{ venue.capacity }}</p>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
    <script src="custom.js"></script>

	<div id="map" style="width:100%; height:500px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: solid 1px black"></div>

	<script>
    	function myMap() {
            var myCenter = new google.maps.LatLng({{ venue.lat }}, {{ venue.lng }});
            var mapCanvas = document.getElementById("map");
            var mapOptions = {center: myCenter, zoom: 15};
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var marker = new google.maps.Marker({
                position:myCenter,
                animation: google.maps.Animation.BOUNCE
            });
            marker.setMap(map);
            var infowindow = new google.maps.InfoWindow({
                content: "{{ venue.name }}<br>{{ venue.address }}"
              });
              infowindow.open(map,marker);
    	}
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqFOY1AP0p8NWr7TLCr68AIAWlFepwMj4&callback=myMap"></script>

    <br>
    <h4>Events organised here:</h4>
    <hr>

    <div class="outer">
        {% for event in venue.event_set.all %}
        <a class="card" href="{{ event.get_absolute_url }}">
            <h3>{{ event.title }}</h3>
            ({{event.dateTo}}) ({{event.venue.name}})
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
